.main-path-initial {
    fill: 'none';
    stroke: 'gray';
    stroke-width: 0.2;
}
.main-path-south {
    fill: 'none';
    stroke: 'red';
    stroke-width: 0.5;
}
.popover {
    max-width: 350px;
}
.thumbnail-first-in-row { margin-left: 0 !important; }

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}